---
import AboutImg from "../assets/imgs/landing-about-img.png"
---

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1475">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Big Background Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset={AboutImg.src}>
                <source media="(min-width: 601px)" srcset={AboutImg.src}>
                <img loading="lazy" decoding="async" src={AboutImg.src} alt="about" width="542" height="720" aria-hidden="true">
            </picture>
            <!--Oval-->
            <img class="cs-oval" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/oval.svg" alt="oval" width="727" height="480" aria-hidden="true">
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About us</span>
            <h2 class="cs-title">What is Innovectica?</h2>
            <p class="cs-text">
              Innovectica is where businesses turn when they need custom software that actually works for them—not the other way around. We design and build enterprise systems, apps, and websites that align with your goals, streamline your operations, and scale with you. Whether you're modernizing your backend or launching a new product, Innovectica brings clarity, efficiency, and craftsmanship to every line of code.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                    WIN/WIN Philosophy
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                    Enterprise Systems Architects
                </li>
                <li class="cs-li">
                  <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                  100% Digital
              </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                    SCRUM/LEAN Agile methodology
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                    CloudOps Production
                </li>
            </ul>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
        </div>
    </div>
</section>
                                
<style>
    /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1475 {
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #sbsr-1475 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(3rem, 4vw, 4rem);
  }
  #sbsr-1475 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }
  #sbsr-1475 .cs-title {
    color: var(--primaryLight);
    font-size: 2.5rem;
    font-weight: 400;
  }
  #sbsr-1475 .cs-text {
    margin-bottom: 1rem;
  }

  #sbsr-1475 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-1475 .cs-ul {
    width: 100%;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    column-gap: 2.5rem;
    row-gap: 0.75rem;
  }
  #sbsr-1475 .cs-li {
    font-size: var(--bodyFontSize);
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    /* push icon top the top so if the list item goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 0.5rem;
  }
  #sbsr-1475 .cs-icon {
    width: 1.5rem;
    height: auto;
    /* adds extra space between the icon and top of parent so it's more centered */
    margin-top: 1px;
    display: block;
  }
  #sbsr-1475 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0 3rem;
    border-radius: 1.875rem;
    background-color: var(--primaryLight);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color .3s;
  }
  #sbsr-1475 .cs-button-solid:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: var(--secondaryLight);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .3s;
  }
  #sbsr-1475 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbsr-1475 .cs-image-group {
    /* font size scaling. Everything inside the group is in ems so they pull their value for em from the parent (this group div) and when the font is set to a vw, it scales the whole section down and grows proportionally with the screen width, stopping at the final em value declared in the second slot for the min function. */
    font-size: min(2.25vw, .83em);
    width: 40.75em;
    min-height: 45em;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  #sbsr-1475 .cs-picture {
    width: 33.875em;
    height: auto;
    border-radius: 15.625em;
    border: 0.625em solid var(--primary);
    background-color: white;
    overflow: hidden;
    display: block;
    position: relative;
  }
  #sbsr-1475 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-1475 .cs-oval {
    width: 45.4375em;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(38deg);
  }
  #sbsr-1475 .cs-box {
    text-align: center;
    width: auto;
    /* 16px - 40px */
    padding: clamp(1em, 3vw, 2.5em) clamp(2.5em, 5vw, 4em);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 3.75em;
    z-index: 10;
  }
  #sbsr-1475 .cs-blob {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #sbsr-1475 .cs-number {
    /* 24px - 49px */
    font-size: clamp(1.25rem, 4.3vw, 3.0625rem);
    line-height: 1.2em;
    font-weight: 900;
    margin: 0;
    color: var(--secondaryLight);
    display: block;
    z-index: 10;
  }
  #sbsr-1475 .cs-desc {
    /* 12px - 16px */
    font-size: clamp(0.75rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    font-weight: bold;
    width: 100%;
    max-width: 20ch;
    color: var(--bodyTextColor);
    position: relative;
    z-index: 10;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1475 .cs-container {
    max-width: 80rem;
    /* set to horizontal arrangement */
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbsr-1475 .cs-content {
    width: 47%;
    padding: 4.375rem 0;
    align-self: center;
  }
  #sbsr-1475 .cs-image-group {
    font-size: min(1.2vw, 1em);
    /* sends it to the right in the 2nd position */
    order: 2;
  }
}
                                
</style>